body {
    background: linear-gradient(151deg, rgba(184,35,193,1) 0%, rgba(143,16,154,1) 25%, rgba(113,12,142,1) 50%, rgba(95,16,135,1) 75%, rgba(81,19,141,1) 100%);
    text-align: center;
    align-content: center;
    font-family: "Share Tech Mono", monospace;
    background-size: 400% 400%;
    animation: bg-gradient 10s ease infinite;
  }

.content {
  animation: fadeIn 5s;
}

  h2 {
    font-size: 42px;
    color: #c4a2ef;
    margin-top: 3%;
  }
  
  
  p {
    font-size: 20px;
    color: #c48af3;
  }
  
.game {
  width: 10%;
  display: inline-block;
  background-color: rgba(161, 52, 220, 0.4);
  padding: 1%;
  border-radius: 10%;
  margin: 2%;
  transition-duration: 0.5s;

}

.game:hover {
  background-color: rgba(177, 83, 227, 0.6);
  width:10.5%;
}

.game h1 {
  font-size: 0.7em;
  color: rgb(196, 148, 211)
}
.game img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
	aspect-ratio: 1/1;
}

a {
  font-size: 20px;
  color: #a972d6;
}
  
.bookmarklet {
  font-size: 25px;
}

  @keyframes fadeIn {
    0% {opacity: 0;}
    20% {opacity: 40;}
    80% {opacity: 90;}
    90% {opacity: 92;}
    100% {opacity: 100;}
  }
  
  @keyframes fadeInPadding {
    0% {padding-left: 0%;padding-right: 0%;}
    100% {padding-left: 5%;padding-right: 5%;}
  }

@keyframes bg-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
